<doctype html>
  <html lang="lv">
    <head>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width">
      <title>Ievadi divus veselus skaitļus:</title>
      <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text">
    </head>  
    <body>
      <main>
<form action="aiziet2" method="post">
  <input type="number" name="v_skaitlis_1" placeholder="12345" required>
  <input type="number" name="v_skaitlis_2" placeholder="01234" required>
  <input type="submit">
</form>
          <script src="{{ url_for('static', filename='script.js') }}"></script>
      </main>
    </body>
  </html>