{% extends "pamati_sintakse.html" %}

{% block content %}
<h1>Admin panelis</h1>
<a href="/izlogoties">Izlogoties</a> 
<h2>Lietotaju dati</h2>
<section id="tabula_panelis">
<table border="1">
  <thead>
    <tr>
    <th>ID</th>
    <th>Vards</th>
    <th>Dzimums</th>
    <th>Hobiji</th>
    </tr>
  </thead>
  <tbody>
    {% for lietotajs in lietotaji %}
    <tr>
      <td>{{ lietotajs[0] }}</td>
      <td>{{ lietotajs[1] }}</td>
      <td>{{ lietotajs[2] }}</td>
      <td>{{ lietotajs[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</section>
{% endblock %}