<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Our Team</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css" />
</head>
<body>
  <main>
      <h1>Our team</h1>
      <p>Jelizaveta Burhanova</p>
    <img src="{{ url_for('static', filename='/media/me.jpg') }}" width="50%" alt="me">
      <p>Steven Bartlett</p>
    <img src="{{ url_for('static', filename='/media/Bartlett.webp') }}" width="50%" alt="me">
      <br>
      <p>Elon Musk</p>
    <img src="{{ url_for('static', filename='/media/images.jpeg') }}" width="50%" alt="me">
      <br>
      <p>Steve Jobs</p>
    <img src="{{ url_for('static', filename='/media/images-2.jpeg') }}" width="50%" alt="me">
      <script src="script.js"></script>
        <section id="links">
           <p><a href="index.html"><b>Homepage</b></a>
           </p>
        </section>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </main>
</body>

</html>